<div class="container">

    <h1>Sample page (/sample/parameter/:p)</h1>

    <p>This page is rendered with the results of a query <em>formed using a URL parameter</em>from a database.</p>
    <p>The URL parameter "p" is <strong>"{{parameter}}"</strong>, and the database returned this value:
        <strong>"{{db_value}}"</strong></p>

    <h2>Check out all 3 sample pages:</h2>
    <ul>
        <li><a href="/sample">/sample/</a></li>
        <li><a href="/sample/parameter/:p">/sample/parameter/:p</a></li>
        <li><a href="/sample/form">/sample/form</a></li>
    </ul>

</div>