<div class="container">

    <h1>Sample form (/sample/form)</h1>

    <p>This page includes a form, which will send a POST request to the server.</p>
    <p>The server may use the form inputs to perform a database query, then redirect to another page.</p>

    <form method="post" action="/sample">
        <h3>Form</h3>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="input_name" name="input_name" data-length="32" required>
                <label for="input_name">Sample Input</label>
            </div>
        </div>

        <button class="submit waves-effect waves-light btn" type="submit">Submit</button>
    </form>

    <h2>Check out all 3 sample pages:</h2>
    <ul>
        <li><a href="/sample">/sample/</a></li>
        <li><a href="/sample/parameter/:p">/sample/parameter/:p</a></li>
        <li><a href="/sample/form">/sample/form</a></li>
    </ul>


</div>